{% extends 'base.html' %}

{% block content %}
<div class="update">
    <h1 class="update">EDIT DETAILS</h1>
    <form action="{{ url_for('update') }}" method="post">
        <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
        <label for="p_location">Location:</label>
        <select name="restaurant_location" id="p_location" required>
            <option >{{ restaurant.location }}</option>
            <option value="Area 2">Area 2</option>
            <option value="Gyud Food">Gyud Food</option>
            <option value="UPTC">UPTC</option>
        </select><br><br>
        <label for="p_name">Restaurant/Stall Name:</label>
        <input type="text" name="restaurant_name" id="p_name" value="{{ restaurant.name }}"><br><br>
        <label for="p_price">Pricing:</label>
        <select name="restaurant_price" id="p_price" required>
            <option >{{ restaurant.price }}</option>
            <option value="Expensive">Expensive</option>
            <option value="Average">Average</option>
             <option value="Economical">Economical</option>
        </select><br><br>
        <label for="p_review">Share your experience here:</label>
        <input type="text" name="restaurant_review" id="p_review" value="{{ restaurant.review }}"><br><br>
        <label for="p_rating">Rate your experience:</label>
        <select name="restaurant_rating" id="p_rating" required>
            <option >{{ restaurant.rating }}</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select><br><br>
        <label for="p_payment_method">Modes of payment:</label>
        <select name="restaurant_payment_method" id="p_payment_method" required>
            <option disabled selected value>{{ restaurant.payment_method }}</option>
            <option value="Cash">Cash</option>
            <option value="GCash">GCash</option>
            <option value="Both">Both</option>
        </select><br><br>
        <label for="p_url">Paste the image link here:</label>
        <input type="url" name="restaurant_url" id="p_url" value="{{ restaurant.url }}"><br><br>
        <input type="submit" value="Update!">
    </form>
</div>
{% endblock %}
